<!-- ----------------------------------------------ส่วนหน้าเว็บปกติ---------------------------------------- -->
<ion-content *ngIf="isLargeScreen" [fullscreen]="true">

    <ion-split-pane contentId="main-content">
      <!-- ------------------------------------------1-------------------------------------------- -->
      <ion-menu contentId="main-content" type="overlay" menuId="main-menu" >
        <ion-content>
          <ion-list id="inbox-list">
               <div class="profile-sidemenu">
                <ion-avatar slot="start">
                  <img src="/assets/cat.jpg" >
                </ion-avatar>
                <ion-label style="font-weight:450;">Mild Wannaporn</ion-label>
              </div>
        
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                  <img slot="start" style="margin-right: 18px;" [src]="p.Image" class="feature-icon" >
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
          </ion-list>
  
          <ion-list id="labels-list">
            <ion-list-header>ทางลัดของคุณ</ion-list-header>
            <ion-item lines="none" *ngFor="let label of labels">
              <img slot="start" [src]="label.Image" class="label-image">
              <ion-label>{{ label.title }}</ion-label>
            </ion-item>
          </ion-list>
          
        </ion-content>
      </ion-menu>
      <!-- -------------------------------------2-------------------------------------------- -->
      <app-explore-container id="main-content" name="Tab 1 page"></app-explore-container>
      <!-- -------------------------------------3--------------------------------------------- -->
      <ion-menu contentId="main-content" type="overlay" menuId="right-menu" class="top-menu"side="end" >
        <ion-content>
          <ion-list id="inbox-list">
            <ion-list-header>Inbox</ion-list-header>
           
  
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <img slot="start" [src]="p.Image"  >
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
  
          <ion-list id="labels-list">
            <ion-list-header>Labels</ion-list-header>
  
            @for (label of labels; track label) {
              <ion-item lines="none">
                <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
                <ion-label>{{ label }}</ion-label>
              </ion-item>
            }
          </ion-list>
        </ion-content>
      </ion-menu>
    </ion-split-pane>
</ion-content>

<!-- Tablet -->
<ion-content *ngIf="isTabletScreen">
  <app-explore-container></app-explore-container>
</ion-content>

<!-- ---------------------------------------ส่วนหน้าจอเล็ก 480------------------------------------ -->
<ion-content *ngIf="isSmallScreen">
  <app-explore-container></app-explore-container>
</ion-content>