<!-- ----------------------------------------------ส่วนหน้าเว็บปกติ---------------------------------------- -->
<ion-content *ngIf="isLargeScreen" [fullscreen]="true">

    <ion-split-pane contentId="main-content">
      <!-- ------------------------------------------1-------------------------------------------- -->
      <ion-menu contentId="main-content" type="overlay" menuId="main-menu" >
        <ion-content>
          <ion-list id="inbox-list">
               <div class="profile-sidemenu">
                <ion-avatar slot="start">
                  <img src="/assets/cat.jpg" >
                </ion-avatar>
                <ion-label style="font-weight:450;">Mild Wannaporn</ion-label>
              </div>
        
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                  <img slot="start" style="margin-right: 18px;" [src]="p.Image" class="feature-icon" >
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
          </ion-list>
  
          <ion-list id="labels-list">
            <ion-list-header>ทางลัดของคุณ</ion-list-header>
            <ion-item lines="none" *ngFor="let label of labels">
              <img slot="start" [src]="label.Image" class="label-image">
              <ion-label>{{ label.title }}</ion-label>
            </ion-item>
          </ion-list>
          
        </ion-content>
      </ion-menu>
      <!-- -------------------------------------2-------------------------------------------- -->
      <app-explore-container id="main-content" name="Tab 1 page"></app-explore-container>
      <!-- -------------------------------------3--------------------------------------------- -->
      <ion-menu contentId="main-content" type="overlay" menuId="right-menu" class="facebook-right-menu" side="end">
        <ion-content>
          <ion-list id="sponsored-list">
            <ion-list-header class="right-header" >ได้รับการสนับสนุน</ion-list-header>
            <ion-item *ngFor="let sponsor of sponsoredItems">
              <img slot="start" [src]="sponsor.image" >
              <ion-label>{{ sponsor.title }}</ion-label>
            </ion-item>
          </ion-list>
      
          <ion-list id="friend-list">
            <ion-list-header  class="right-header" >ผู้ติดต่อ</ion-list-header>
            <ion-item *ngFor="let friend of onlineFriends">
              <div class="friend-on">
                <ion-avatar slot="start">
                  <img  [src]="friend.image" >
                </ion-avatar>
                <ion-label>{{ friend.name }}</ion-label>
                <ion-icon name="ellipse" class="online-status"></ion-icon>
              </div>
            </ion-item>
          </ion-list>
      
  
          <ion-list id="group-list">
            <ion-list-header  class="right-header" >กลุ่มของคุณ</ion-list-header>
            <ion-item *ngFor="let group of userGroups">
              <img slot="start" [src]="group.image" class="group-icon">
              <ion-label>{{ group.name }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
    </ion-split-pane>
</ion-content>

<!-- Tablet -->
<ion-content *ngIf="isTabletScreen">
  <app-explore-container></app-explore-container>
</ion-content>

<!-- ---------------------------------------ส่วนหน้าจอเล็ก 480------------------------------------ -->
<ion-content *ngIf="isSmallScreen">
  <app-explore-container></app-explore-container>
</ion-content>